body {
  background: #ffffff;
  margin: unset;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #menu {
    position: fixed;
    width: 100%;
    height: 15rem;
    background: #5298d9;
    color: #000000;
    font-size: xx-large;
  }
  
  #menu #burger {
    visibility: hidden;
    user-select: none;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    width: 2em;
  }
  
  #menu #logo {
    display: block;
    user-select: none;
    height: 10rem;
    margin: auto;
    padding-top: 3rem;
  }
  #menu #clock {
    display: none;
  }
  
  aside {
    position: fixed;
    top: 15rem;
    width: 100%;
    height: 10rem;
    background-color: #006aa7;
    border-bottom: 1rem solid #004078;
    border-radius: 0 0 1rem 1rem;
  }
  
  
  nav {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    padding: 3rem;
    justify-content: space-around;
  }
  
  nav > a {
    text-decoration: none;
    color: #ffffff;
    padding: 0.3em 0;
  }
  
  nav div {
    padding: 0.3em 0;
  }
  
  nav div a {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav #current {
    color: #fecc00;
  }
  
  nav div span {
    display: none;
  }
  
  ul {
    display: none;
  }
  
  main {
    padding-top: 30rem;
    padding-bottom: 6rem;
    padding-left: 10%;
    width: 80%;
  }
  
  main.photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  main p {
    font-size: x-large;
  }
  
  figure {
    display: block;
    margin: auto;
    margin-bottom: 3em;
    width: 90%;
  }
  
  figure figcaption {
    background: #c69c00;
    color: #000000;
    text-align: center;
    font-size: x-large;
  }
  
  figure img {
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 0.2rem solid #c69c00;
    text-align: center;
  }
  
  th {
    background: #fecc00;
  }
  
  table {
    width: 100%;
    font-size: 2rem;
    border-collapse: collapse;
    margin-bottom: 5em;
  }
  
  table caption {
    font-size: 3rem;
  }
}

@media only screen and (min-device-width: 1224px) {
  #menu {
    position: fixed;
    width: 100%;
    height: 9rem;
    background: #5298d9;
    color: #000000;
    font-size: xx-large;
  }
  
  #menu #burger {
    position: fixed;
    user-select: none;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    width: 2em;
    transition: transform 1s;
  }
  #menu #burger:hover{
    transform: rotate(90deg) translateY(-1em);
  }
  
  #menu #logo {
    position: fixed;
    display: block;
    user-select: none;
    height: 7rem;
    margin: auto;
    top: 1rem;
    left: 42%;
  }
  
  #menu #clock {
    position: relative;
    top: 3rem;
    left: 90%;
  }
  
  @keyframes aside {
    0% {
      left: calc(-20% - 1rem)
    }
    100% {left: 0
    }
  }
  @keyframes aside2 {
    100% {
      left: calc(-20% - 1rem)
    }
    0% {left: 0
    }
  }
  aside {
    user-select: none;
    position: fixed;
    top: 9rem;
    visibility: hidden;
    width: 20%;
    height: 90%;
    background-color: #006aa7;
    border-right: 1rem solid #004078;
    border-radius: 0 1rem 1rem 0;
  
    /*animation-name: aside;*/
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  
  
  nav {
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    padding-top: 1rem;
    align-items: center;
  }
  
  nav > a {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #ffffff;
    padding: 3% 0;
  }
  
  nav div a {
    color: #ffffff;
    text-decoration: none;
  }
  
  nav div span {
    color: #ffffff;
  }
  
  
  a#current {
    color: #fecc00;
  }
  
  ul {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    text-align: center;
    font-size: large;
    text-decoration: none;
    display: block;
    margin: auto;
    color: #ffffff;
  }
  
  main {
    padding-top: 15rem;
    padding-bottom: 6rem;
    padding-left: 22%;
    width: 57%;
  }
  
  main.photos {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  main.awards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  main p {
    font-size: x-large;
  }
  
  figure {
    display: block;
    margin: auto;
    margin-bottom: 3em;
    width: 25em;
  }
  
  figure figcaption {
    background: #c69c00;
    color: #000000;
    text-align: center;
    font-size: x-large;
  }
  
  figure img {
    width: 100%;
  }
  
  table,
  th,
  td {
    border: 0.2rem solid #c69c00;
    text-align: center;
  }
  
  th {
    background: #fecc00;
  }
  
  table {
    font-size: x-large;
    border-collapse: collapse;
    margin-bottom: 5em;
  }
  
  table caption {
    font-size: xx-large;
  }
  
  input{
    width: 50%;
    height: 4rem;
  }
  input.important{
    background: goldenrod;
  }
}

@media only screen and (max-width: 600px) {
  #logo {
    visibility: hidden;
  }
}
