body {
    display: grid;
    grid-template-rows: 56px auto;
    background: #002b36;
    margin: unset;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #073642;
    color: #93a1a1;
}

nav a {
    text-decoration: none;
    color: inherit;
    vertical-align: middle;
    font-size: 19px;
    padding: 0 10px;
}

nav {
    display: flex;
    height: 56px;
    padding: 0 16px;
    align-items: center;
}

nav div {
    margin-left: auto;
}

nav div {
    font-size: 19px;
    color: inherit;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 26px;
    margin-left: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdf6e3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: #657b83;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #002b36;
}

input:hover+.slider {
    box-shadow: 0 0 3px #2196F3;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 24px;
}

.slider.round:before {
    border-radius: 50%;
}
