body {
  display: grid;
  grid-template-rows: 10% auto;
  background: #002b36;
  margin: unset;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

header {
  background: #073642;
  color: #93a1a1;
}

nav a {
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  padding: 0 10px;
}

nav {
  display: flex;
  font-size: 3em;
  height: 100%;
  padding: 0 16px;
  align-items: center;
}

nav button {
  background: inherit;
  margin-left: auto;
  font-size: inherit;
  color: #b58900;
  border: 5px solid #002b36;
  border-radius: 5px;
}

nav img {
  height: 100%;
}
